{% extends 'Admin.html.twig' %}

{% block body %}
    <center>
    <h1>Ajouter Services</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('services_index_admin') }}">Back to the list</a>
        </li>
    </ul>
    </center>
{% endblock %}
