{% extends 'base.html.twig' %}

{% block body %}

    <body id="top">
    <center>
    <div class="display-1 display-1--with-line-sep">
        <div class="container">
            <br>
            <h2 class="w3-head">Evaluation</h2>
            <div class="col-md5"> <h3 style="color:#65B042">Merci pour l'evaluation</h3><br>
                <img src="{{ asset('images/success.png')}}">
                <h2 >Votre avis nous rend plus fort</h2>
            </div>
        </div> </div></center>
    </body>

{% endblock %}